* 
  outline 0
  padding 0
  margin  0
  border  0

body
  background  rgb(239,239,244) 

button 
    background  #222 
    color #fff
    border 0 

img   
  content normal !important  

a 
  text-decoration  none 
  color #000 !important 

.float-left 
  float left 

.navigate-right:after  
  font-family  Muiicons 
  content  "\e583" 
  position  absolute 
  font-size  28px 
  right  15px 
  top  50% 
  -webkit-transform  translateY(-50%) 
  transform  translateY(-50%) 
  color  #222 
  -webkit-font-smoothing  antialiased 

.font_orange
  color rgb(228, 114, 20)

.ignore
  border-radius 5px  

::-webkit-scrollbar 
  display none !important