* 
  outline 0
  padding 0
  margin  0
  border  0
  scrollbar-width none    /* 兼容火狐 */
  -ms-overflow-style none /* 兼容IE10+ */

::-webkit-scrollbar /* 兼容chrome和safari浏览器 */
  display none !important  

body
  background  #f5f5f5

button 
    background  #222 
    color #fff
    border 0 

img   
  content normal !important  

a 
  text-decoration  none 
  color #000 !important 

.float-left 
  float left 

.navigate-right:after  
  font-family  Muiicons 
  content  "\e583" 
  position  absolute 
  font-size  28px 
  right  15px 
  top  50% 
  -webkit-transform  translateY(-50%) 
  transform  translateY(-50%) 
  color  #222 
  -webkit-font-smoothing  antialiased 

.font_orange
  color rgb(228, 114, 20)

.ignore
  border-radius 5px  


.mint-msgbox
  border-radius 5Px
  .mint-msgbox-header
    height 50px
    line-height 2
    .mint-msgbox-title  
      font-size 25px
  .mint-msgbox-content 
    .mint-msgbox-message
      font-size 25px
      height 50px
      line-height 2
  .mint-msgbox-btns    
    height 50px
    line-height 2
    .mint-msgbox-btn
      font-size 25px  

.mint-toast.is-placemiddle    
  .mint-toast-text
    font-size 25px
    line-height 1.5
    