<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="mui-dtpicker mui-active" data-type="date">
    <div class="mui-dtpicker-header"> <button data-id="btn-cancel" class="mui-btn">取消</button> <button data-id="btn-ok"
        class="mui-btn mui-btn-blue">确定</button> </div>
    <div class="mui-dtpicker-title">
      <h5 data-id="title-y">年</h5>
      <h5 data-id="title-m">月</h5>
      <h5 data-id="title-d">日</h5>
      <h5 data-id="title-h">时</h5>
      <h5 data-id="title-i">分</h5>
    </div>
    <div class="mui-dtpicker-body">
      <div data-id="picker-y" class="mui-picker">
        <div class="mui-picker-inner">
          <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
          <ul class="mui-pciker-list" style="transform: perspective(1000px) rotateY(0deg) rotateX(0deg);">
            <li class="highlight"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(0deg);">2014</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-20deg);">2015</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-40deg);">2016</li>
          </ul>
          <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
        </div>
      </div>
      <div data-id="picker-m" class="mui-picker">
        <div class="mui-picker-inner">
          <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
          <ul class="mui-pciker-list" style="transform: perspective(1000px) rotateY(0deg) rotateX(0deg);">
            <li class="highlight"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(0deg);">01</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-20deg);">02</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-40deg);">03</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-60deg);">04</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-80deg);">05</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-100deg);">06</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-120deg);">07</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-140deg);">08</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-160deg);">09</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-180deg);">10</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-200deg);">11</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-220deg);">12</li>
          </ul>
          <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
        </div>
      </div>
      <div data-id="picker-d" class="mui-picker">
        <div class="mui-picker-inner">
          <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
          <ul class="mui-pciker-list" style="transform: perspective(1000px) rotateY(0deg) rotateX(0deg);">
            <li class="highlight"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(0deg);">01</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-20deg);">02</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-40deg);">03</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-60deg);">04</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-80deg);">05</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-100deg);">06</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-120deg);">07</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-140deg);">08</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-160deg);">09</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-180deg);">10</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-200deg);">11</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-220deg);">12</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-240deg);">13</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-260deg);">14</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-280deg);">15</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-300deg);">16</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-320deg);">17</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-340deg);">18</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-360deg);">19</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-380deg);">20</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-400deg);">21</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-420deg);">22</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-440deg);">23</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-460deg);">24</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-480deg);">25</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-500deg);">26</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-520deg);">27</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-540deg);">28</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-560deg);">29</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-580deg);">30</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-600deg);">31</li>
          </ul>
          <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
        </div>
      </div>
      <div data-id="picker-h" class="mui-picker">
        <div class="mui-picker-inner">
          <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
          <ul class="mui-pciker-list" style="transform: perspective(1000px) rotateY(0deg) rotateX(0deg);">
            <li class="highlight"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(0deg);">00</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-20deg);">01</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-40deg);">02</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-60deg);">03</li>
            <li class="visible"
              style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-80deg);">04</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-100deg);">05</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-120deg);">06</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-140deg);">07</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-160deg);">08</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-180deg);">09</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-200deg);">10</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-220deg);">11</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-240deg);">12</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-260deg);">13</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-280deg);">14</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-300deg);">15</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-320deg);">16</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-340deg);">17</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-360deg);">18</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-380deg);">19</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-400deg);">20</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-420deg);">21</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-440deg);">22</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-460deg);">23</li>
          </ul>
          <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
        </div>
      </div>
      <div data-id="picker-i" class="mui-picker">
        <div class="mui-picker-inner">
          <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
          <ul class="mui-pciker-list" style="transform: perspective(1000px) rotateY(0deg) rotateX(0deg);">
            <li class="highlight" style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(0deg);">00</li>
            <li class="visible" style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-20deg);">01</li>
            <li class="visible" style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-40deg);">02</li>
            <li class="visible" style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-60deg);">03</li>
            <li class="visible" style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-80deg);">04</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-100deg);">05</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-120deg);">06</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-140deg);">07</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-160deg);">08</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-180deg);">09</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-200deg);">10</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-220deg);">11</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-240deg);">12</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-260deg);">13</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-280deg);">14</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-300deg);">15</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-320deg);">16</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-340deg);">17</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-360deg);">18</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-380deg);">19</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-400deg);">20</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-420deg);">21</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-440deg);">22</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-460deg);">23</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-480deg);">24</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-500deg);">25</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-520deg);">26</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-540deg);">27</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-560deg);">28</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-580deg);">29</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-600deg);">30</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-620deg);">31</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-640deg);">32</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-660deg);">33</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-680deg);">34</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-700deg);">35</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-720deg);">36</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-740deg);">37</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-760deg);">38</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-780deg);">39</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-800deg);">40</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-820deg);">41</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-840deg);">42</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-860deg);">43</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-880deg);">44</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-900deg);">45</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-920deg);">46</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-940deg);">47</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-960deg);">48</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-980deg);">49</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1000deg);">50</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1020deg);">51</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1040deg);">52</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1060deg);">53</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1080deg);">54</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1100deg);">55</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1120deg);">56</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1140deg);">57</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1160deg);">58</li>
            <li style="transform-origin: center center -90px; transform: translateZ(90px) rotateX(-1180deg);">59</li>
          </ul>
          <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>